@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background-color: sienna;
}
.container1{
    width: 965px;
    height: 70em;
    background: rgb(255, 235, 235);
    margin: auto;
}
.menu1{
    display: flex;
    flex-wrap: nowrap;
    background-color:black;
    border-radius: 5px;
    justify-content: space-around;
    font-size:30px;
    text-decoration-color: linen;
    font-family: fantasy;
    
   
}
.menu1 li{
    display: inline-block;
}
.menu1 a{
    color: white;
    text-decoration: none;
}

/*card*/
.container{
    width: 965px;
    background-color: maroon;
    margin: auto;
    
   
}

.section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    width: 270px;
    height: 30em;
    background: white;
    margin: 15px;
    margin-top: 20px;  
    border-radius: 15px;
    transition: .5s ease;
    border: 3px solid transparent;
    cursor: pointer;
    text-align: center;
}

.card p{
    text-align: center;
}


.card:hover{
    box-shadow: gray 3px 1px 3px 1px;
    transform: translateY(-30px);
    border: 3px solid black transparent;
    border: 3px solid black;
}

img.imgcard{
    width: 200px;
    height:200px;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 50%;
  border: 2px solid black;


}

.titulo{
    font-size: 100px;
    font-family: fantasy;
    text-decoration-line: underline;
    text-align: center;
  
}


h2{
    text-align: center;
    margin-bottom: 20px;
    text-decoration-line: underline;
    font-family: 'Rampart One', cursive;
    
}

h1 {
    justify-content: center;
    text-align: center;
    font-family: fantasy;
    color: #fff;
    
}
h4{
    text-align: center;

}
p{
    text-align: left;
    padding: 10px;
    font-family: 'Franklin Gothic Medium';
    
}


.flex-container {
    display: flex;
    border-style: solid;
    border-color: rgb(128, 0, 11);
    padding: 10px;
    margin: 10px;

}

.flex-container2 {
    display: flex;
    border-style: solid;
    border-color: rgb(128, 0, 11);
    padding: 10px;
    margin: 10px;
    margin-bottom: 10px;
}

.contact-consulta {
    text-align: center;
    background-image: url(./imgs/fondoguayerd.png);
    
}

.title { 
    background-color: deepskyblue;
}

.footer_info { 
  background-image: url(./imgs/footer.jpg);
  text-align: center;
  

}
